.projectTitle-img-container img{
    display: block;
    width: 30%;
    margin: 20px auto 10px;
    box-shadow: 0 0 6.5em 1px rgba(135, 206, 250, 0.534);
}

section .title{
    margin-bottom: 5px;
}

.project-description .project-description-content .text-portion,
.contributions .contributions-description-content .text-portion{
    width: 35%;
}

.project-description .project-description-content .image-portion,
.contributions .contributions-description-content .image-portion{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

.project-description .project-description-content .image-portion img,
.contributions .contributions-description-content .image-portion img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.project-image img{
    width: 60%;
}

.project-description .project-description-content img,
.contributions .contributions-description-content img{
    align-content: center;
    border: 1.5px solid rgb(20, 100, 220);
    display: block;
    border-radius: 6px;
    margin: 5px auto;
}



.project-description .project-description-content .right .text,
.project-description .project-description-content .left .text,
.contributions .contributions-description-content .right .text,
.contributions .contributions-description-content .left .text{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.project-description .project-description-content .right p,
.project-description .project-description-content .left p,
.contributions .contributions-description-content .right p,
.contributions .contributions-description-content .left p,
.project-text{
    color: #fff;
    font-size: 15px;
    margin: 10px 0;
    text-align: justify;
}

.contribution-type, .status-availability-block{
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px auto;
}

.contribution-type h3{
    color: rgb(14, 129, 183);
    text-shadow: 1px 1px rgb(143, 230, 249);
}

.contribution-piece-title h4{
    color: rgb(30, 201, 210);
}

/* Gradient transparent - color - transparent */

.contributions hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(184, 22, 205, 0), rgba(0, 225, 255, 0.75), rgba(184, 22, 205, 0));
}


.status-availability-text{
    color: rgb(95, 16, 106);
    text-shadow: 1px 1px rgb(177, 53, 194);
}

/* Gradient transparent - color - transparent */

.status-availability-block hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(184, 22, 205, 0), rgba(184, 22, 205, 0.75), rgba(184, 22, 205, 0));
}








@media (max-width: 947px){
    .project-description .project-description-content .column,
    .contributions .contributions-description-content .column{
        width: 100%;
    }

    .project-image img{
        width: 90%;
    }
}